@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 ;
	margin: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
	top: 0;
	margin: 0 2%;
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 15px;
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
	cursor: pointer;
	border-bottom: 1px solid #fff;
}
nav ul li:hover {
	border-bottom-color: #000;
}

a{
	text-decoration: none;
	color: black;
}

.page-content {
	margin: 4%;
}
.page-content main {
	margin-top: 5%;
	max-width: 80%;
}

.page-content main h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
}

.page-content section h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 3vw;
}

.page-content main p {
	line-height: 30px;
	color: #818181;
}
.page-content main button {
	background-color: inherit;
	border: none;
	outline: none;
	padding: 0;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.page-content main button:hover {
	color: #ccc;
	border-bottom-color: #000;
}
.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}

.page-content .projects-section {
	margin-top: 6%;
	
}
.page-content .projects-section h2 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
	margin-bottom: 20px;
}
.page-content .projects-section .projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.page-content .projects-section .project {
	margin-right: 20px;
	max-width: 250px;
}
.page-content .projects-section .project h3 {
	margin: 0;
}
.page-content .projects-section .project .description {
	font-size: 14px;
}
.page-content .projects-section .project .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

footer {
	margin-top: 5%;
	margin-bottom: 5%;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px;
	background-color: #000;
	color: white;
}
footer .colonne a {
	font-size: 16px;
	color: #ccc;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
}
footer .colonne a:hover {
	color: #fff;
}
